@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    /* background-color: #bfc6cc; */
    border: none;
    color: #08090a;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

body {
    background-color: #eef0f1;
}

input {
    text-align: center;
}